// Mapa

$eventos-color: (
    cl-header: $colorPrincipal,
    cl-footer: $colorSecundario,
    bg-contac: $colorOscuro,
    bg-boton: $colorPrincipal,
    cl-boton: $colorOscuro,
    cl-contac: $colorPrincipal,
    cl-varie: $colorPrincipal,
    cl-input: $colorPrincipal,
)

