
/* ------------------------------------------------- */
/* INICIO CONTACTO */
.container-fluid {
    .form-container {
        max-width: 900px;
        background: $colorOscuro;

        .text-contact {
            color: $colorSecundario;
        }
    
        .row {
            .col-12 {
                color: $colorSecundario;

                .form-input {
                    input {
                        outline: none;
                        border: none;
                        border-bottom: $colorPrincipal 3px solid;
                        background-color: $colorOscuro;
                        color: $colorSecundario;

                        &:focus {
                            color: map-get($eventos-color,cl-input);
                        }
                    }   
                }

                .form-textarea {
                    textarea {
                        resize: none;
                        outline: none;
                        height: 120px!important;
                        border: none;
                        border-bottom: $colorPrincipal 3px solid;
                        background: map-get($eventos-color,bg-contac);
                        color: $colorSecundario;

                        &:focus {
                            color: map-get($eventos-color,cl-input);
                        }
                    }
                }
            }

            .boton {
                background: $colorOscuro;
                color: $colorPrincipal;
                border: 2px solid $colorPrincipal;
                border-radius: 5px;
                width: 100px!important;

                &:active {
                    background: map-get($eventos-color,bg-boton);
                    color: map-get($eventos-color,cl-boton);
                }
            }

            .img-contacto {
                img {
                    @include respuesta(520px) {
                        max-width: 350px;
                    }
                }
            }
        }
    }
}
/* INICIO CONTACTO */
/* ------------------------------------------------- */