/* ------------------------------------------- */
/* INICIO FOOTER */
.bg-footer {
    background: $colorPrincipal;
    color: $colorOscuro;
    box-shadow: 4px 2px 20px #000;

    hr {
        width: 90%;
        opacity: 1!important;
    }

    .row {
        .col-12 {
            iframe {
                @include respuesta(768px) {
                    max-width: 400px;
                    height: 200px;
                }
            }

            .row {
                .container {
                    .row {
                        .col-3 {
                            a {
                                i {
                                    color: $colorOscuro;

                                    &:hover {
                                        color: map-get($eventos-color,cl-footer);
                                    }
                                } 
                            }
                        }
                    }
                }
            }
        }
        
        .img-footer {
            @include respuesta(520px) {
                width: 100%!important;
                max-width: 350px;
            }
        }
    }
}
/* FIN FOOTER */
/* ------------------------------------------- */