/* ----------------------------------------------- */
/* INICIO INGREDIENTES */
.ingredientes {
    .container {
        .row {
           .col-12 {
                img {
                width: 330px;
                height: 300px;
                text-align: center;

                @include respuesta(768px) {
                    width: 450px;
                    height: 300px;
                    margin: auto;
                }
                }
                
                h3 {
                    text-decoration: underline;
                    text-decoration-style: dashed;
                    letter-spacing: 1px;
                }
           }
        }
    }
}
/* FIN INGREDIENTES */