/* ----------------------------- */
/* INICIO */

.container-fluid {
    .container {
        .row {
            .carrousel {
                @include respuesta(992px) {
                    height: calc(100vh - 50px);
                }
            }
        }
    }
}
.container {
    .inicio {
        img {
            cursor: pointer;
            transition: transform .4s;

            &:hover {
                @include respuesta(992px) {
                    transform: scale(1.1);
                    transition: transform .6s;
                }
            }
        }
    }
}
/* FIN INICIO */